:root {
  --primary-color: #0968bb;
  --secondary-color: #d1e4f5;
  --text-color: #162634;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  font-family: "Nunito", sans-serif;
  font-weight: 400;
}

/* Typography */
.jumbo-heading {
  font-size: 60px;
  font-weight: 700;
  color: var(--text-color);
}
.jumbo-para {
  font-size: 30px;
  color: var(--text-color);
}

/* Header */
.header {
  height: 100px;
  margin-bottom: 100px;
}
.header-main {
  height: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header-logo {
  color: var(--primary-color);
  font-size: 28px;
  font-weight: 700;
}
.header-logo:hover {
  text-decoration: none;
}
.header-link {
  font-size: 17px;
  color: var(--text-color);
}
.header-link:not(:last-child) {
  margin-right: 35px;
}

/* home-sec-1 */
.phone-pencil {
  max-height: 500px;
  float: right;
}
