:root {
  --primary-color: #0968bb;
  --secondary-color: #d1e4f5;
  --text-color: #162634;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  font-family: "Nunito", sans-serif;
  font-weight: 400;
}

/* Typography */
.jumbo-heading {
  font-size: 60px;
  font-weight: 700;
  color: var(--text-color);
}
.jumbo-para {
  font-size: 30px;
  color: var(--text-color);
}

/* Header */
.header {
  height: 100px;
  margin-bottom: 100px;
}
.header-main {
  height: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header-logo {
  color: var(--primary-color);
  font-size: 28px;
  font-weight: 700;
}
.header-logo:hover {
  text-decoration: none;
}
.header-link {
  font-size: 17px;
  color: var(--text-color);
}
.header-link:not(:last-child) {
  margin-right: 35px;
}

/* home-sec-1 */
.phone-pencil {
  max-height: 500px;
  float: right;
}
.home-sec-1-action {
  margin-top: 30px;
}
.home-sec-1-action .button:first-child {
  margin-right: 25px;
}

/* Buttons */
.button {
  height: 45px;
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 6px;
  border: none;
}
.button:focus {
  outline: none;
}
.big-button {
  min-width: 200px;
  min-height: 50px;
}
.primary-button {
  background-color: var(--primary-color);
  color: #ffffff;
}
.secondary-button {
  background-color: var(--secondary-color);
  color: var(--text-color);
}

/* Toggle Switch */
.switch {
  position: relative;
  display: inline-block;
  width: 50px;
  height: 25px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: -2px;
  left: 0;
  right: -3px;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 20px;
  width: 20px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: #2196f3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196f3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}
